<!DOCTYPE html>
<html lang="en">
{% extends 'store/main.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{% block content %}

    <div class="ui three column grid">
        {% for product in products %}
            <div class="column">
                <div class="ui padded segment">
                    <img class="thumbnail" src="{{product.imageURL}}">
                    <h4><strong>{{product.name}}</strong></h4>
                    <hr>
                    <button data-product={{product.id}} data-action="add" class="ui primary button add-btn update-cart">Add</button>
                    <a class="ui blue basic button" href="{% url 'detail' product.id %}">View</a>
                    <h4><strong>${{product.price|floatformat:2}}</strong></h4>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}
</body>
</html>