<!DOCTYPE html>
<html lang="en">
{% extends 'store/main.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>

{% block content %}

    <div class="ui container row box-container" style="margin-top:75px;">
        <div id="cart-box" class="box-element">
            <h2 class="ui header">Your Cart</h2>
            <div class="cart-row row-flex">
                <div>Item</div>
                <div>Price</div>
            </div>
            {% for item in items %}
            <div class="cart-row row-flex">
                <div class="row-flex">
                    <div style="cursor: pointer"><a style="color:black" data-product="{{item.product.id}}" data-action="remove" class="update-cart" type="submit"><i class="close icon"></i></a></div>
                    <a href="{% url 'detail' item.product.id %}"><div class="row-image" style="background-image: url({{item.product.imageURL}})"></div></a>
                    <a href="{% url 'detail' item.product.id %}" class="cart-product-name">{{item.product.name|upper}}</a>
                </div>
                <div>${{item.product.price|floatformat:2}}</div>
            </div>
            {% endfor %}
            <div class="cart-footer">
                <span style="margin-right: 5px; margin-bottom: 10px;">Subtotal: <strong>${{order.get_cart_total|floatformat:2}}</strong></span>
                <a class="ui basic black button" href="{% url 'checkout' %}" tabindex="0">
                    Checkout <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>