<!DOCTYPE html>
<html lang="en">
{% extends 'store/main.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
</head>
<body>

{% block content %}

    <div id="cart-box" class="row">
        <h2 class="ui header">Your Cart</h2>
        <main class="eight wide column">
            <div class="box-element">
                <div class="cart-row">
                    <div style="flex:1"></div>
                    <div style="flex:2"><strong>Item</strong></div>
                    <div style="flex:1"><strong>Price</strong></div>
                </div>

                {% for item in items %}
                <div class="cart-row">
                    <div style="flex:1"><img class="row-image" src="{{item.product.imageURL}}"></div>
                    <div style="flex:2">{{item.product.name}}</div>
                    <div style="flex:1">${{item.product.price|floatformat:2}}</div>
                    <button data-product="{{item.product.id}}" data-action="remove" class="ui icon button update-cart" type="submit"><i class="close icon"></i></button>
                </div>
                {% endfor %}
            </div>
            <h5>Subtotal: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5>
            <a style="float: right; margin: 5px" class="ui basic button" href="{% url 'checkout' %}">Checkout</a>
        </main>
    </div>

{% endblock %}
</body>
</html>