<!DOCTYPE html>
<html lang="en">
{% extends 'store/main.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
{% block content %}

    <div class="ui container">
        <img class="home-image" src="{{homeImage.imageURL}}">
        <div class="home-img-overlay">

            <a class="ui inverted basic black button" href="{% url 'all' %}">
                    SHOP
            </a>
        </div>
    </div>  

    <div class="ui container" style="margin-top: -25px; text: 10px">
        <ul class="juicer-feed" data-feed-id="shop-_-artemis"><h1 class="referral"><a href="https://www.juicer.io">Powered by Juicer.io</a></h1></ul>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
{% endblock %}
</body>
</html>